/* Moviles */
@media (max-width: 575px)
{
    h1 { font-size: 1.8rem; }
    h2 { font-size: 1.4rem; }

    .btn-lg
    {
        font-size: 1rem;
        padding: 10px;
    }

    .card
    {
        padding: 10px;
    }

    #lista-platillos .col
    {
        flex: 0 0 100%;
    }
}

/* Tablets */
@media (max-width: 767px)
{
    #lista-platillos .col
    {
        flex: 0 0 50%;
    }
}

/* Laptops */
@media (max-width: 991px)
{
    .btn-lg
    {
        padding: 12px 16px;
    }

    #carruselAngata img
    {
        height: 280px;
        object-fit: cover;
    }
}